
    <nav>
        <ul class="nav nav-tabs">
            <li><a href="/EducationSystems/Index" >University System</a></li>
            <li><a href="/Universities/Index" >University</a></li>
            <li><a href="/Colleges/Index" >College</a></li>
            <li><a href="/Departments/Index" >Departments</a></li>
            <li><a href="/Programs/Index" >Program</a></li>
            <li><a href="/Courses/Index" >Courses</a></li>
        </ul>
    </nav>
<br/><br />