@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Center for Health IT</h1>
    <p class="lead">The Department of Computer Information Systems and the Institute of Health Administration in the J. Mack Robinson College of Business, along with the Georgia Health Policy Center in the Andrew Young School of Policy Studies have partnered to create the Center for Health Information Technology.</p>
    <p><a href="http://hit.robinson.gsu.edu/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Heading 1</h2>
        <p>
            foobar lorem ipsum foobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsum
            foobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsum            
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Heading 2</h2>
        <p>foobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsum</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Heading 3</h2>
        <p>foobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsumfoobar lorem ipsum</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>